fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
langchain
langchain-community
langchain-groq
chromadb
pypdf
python-multipart
passlib[bcrypt]
python-jose[cryptography]
slowapi
sqlalchemy
alembic
sentence-transformers